table{
    width: 100%;
    margin: 20px;
}

thead{
    background-color: lightgreen;
}

th,td{
    padding: 5px 0;
}

tbody tr:nth-child(odd) {
    background-color: lightgrey;
  }
  
  tbody tr:nth-child(even) {
    background-color: white;
  }